.table {
    width: 100%;
    border-collapse: collapse;
  }
  

  .table th {
    background-color: #cabfe9;
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: left;
    color: #534764; 
  }
  

  .table td {
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: left;
    color: #534764; 
    
  }
  
  .even-row {
    background-color: #e8e1ec68; 
  }
  
  .odd-row {
    background-color: #cbcfd634; 
  }