/* Стилі для контейнера сторінки входу */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #C7B2E5, #BFB3E1, #B0B6DC);
}

/* Збільшення ширини та додавання падінгу для форми */
.login-form {
    width: 30%;
    height: 40%;
    background-color: rgba(251, 251, 251, 0.562); /* Задаємо фон з напівпрозорістю */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Решта стилів залишаються незмінними */
.login-title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 40px;
    color: #534764;
}

.input-container{
    width: 70%;
}

.button-container{
    width: 70%;
    margin-top: 20px;
}

.login-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 18px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #C7B2E5, #BFB3E1, #B0B6DC);
    border: none;
    border-radius: 15px;
    color: #534764;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background: #b2aac3;
}
